# OSX + Windows bullshit
.DS_Store
.localized
__MACOSX
Thumb.db

# NodeJS + PHP  applications
bin/
node_modules/
npm-debug.log
bootstrap/compiled.php
composer.phar
composer.lock
.env.*.php
.env.php
url
icon.jpg
/index.html

# Editors
.idea/
gen/
out/
project.properties
.project
.classpath
.sublime-project
.sublime-workspace
build.xml
local.properties

# Deployment
dploy.yml
ftpsync.settings

# VMs
.vagrant/
packer_cache/
*.box

# GIT, SVN
.git
.svn
CONTRIBUTING.md/index.html

# Others
.hg
.psd
CVS
